# Cancer prediction - starting_kit
This notebook can be consulted as an HTML page following this link.


This notebook aims at defining the theoretical understanding of cancer prediction and its correlation with genes. 

In addition to the medical knowldege, the data set which will be used will also be presented and illustrated. 

Last, an initial machine learning example will be provided in order to initiate your contribution to the challenge by proving you with an basic working solution.

In 2018 there have been 18million new cases of cancer and 10 millions death. About 20% of men will have a cancer and 17% of the woman. 1 man over 8 will die of cancer and 1 woman over 11.
Living with a cancer five year after its diagnosis is called prevalence. 50 million in the world are in this case.

The rise of cancer in our societies has multiple origins : demographic growth, the ageing of the population, social and economical factors. The type of cancers shifts with the development of countries from cancers linked to poverty to cancers associated with industrialized way of life. 

Europe concentrates 23.4% of the cancers and 20.3% of the death due to cancer even though it only represents 9% of the worldwide population. United States and Canada together count for 21% of the cancer cases, 14% of the death with 13.3% of the population. 


A cancer is caused by a mutation of the DNA, thus, the cellâ€™s reproduction becomes out of control. Many mutation can have the same effect, resulting in many different types of cancer. That is why cancer cannot can be cured as simply as other pathologies. 

One of the major aspects of treating a cancer is detecting is, knowing which mutation of the DNA it is, what are the specific consequences of those mutations on the cells which then gives the doctor an indication about how to treat it.

In [5]:
import pandas as pd

In [7]:
df_case = pd.read_csv('/Users/mathieujuttet/Documents/99-Travail/4-M2 Data Science/3-P1/8-Data Camp/2-Projet en groupe/Cancer/data/case.tsv', sep='\t')
df_cnv = pd.read_csv('/Users/mathieujuttet/Documents/99-Travail/4-M2 Data Science/3-P1/8-Data Camp/2-Projet en groupe/Cancer/data/cnv.tsv', sep='\t')
df_gene = pd.read_csv('/Users/mathieujuttet/Documents/99-Travail/4-M2 Data Science/3-P1/8-Data Camp/2-Projet en groupe/Cancer/data/gene.tsv', sep='\t')
df_ssm = pd.read_csv('/Users/mathieujuttet/Documents/99-Travail/4-M2 Data Science/3-P1/8-Data Camp/2-Projet en groupe/Cancer/data/ssm.tsv', sep='\t')

### Data Frame: case

Information on each case such as age, alcohol, tobacco, BMI (Body Mass Index), most of the values are not availale (NaN)

36 columns and 9115 rows.

Possible key: 'case_id' or 'id'

In [36]:
df_case.head()

,case_id,exposures.0.age_at_onset,exposures.0.alcohol_days_per_week,exposures.0.alcohol_drinks_per_day,exposures.0.alcohol_history,exposures.0.alcohol_intensity,exposures.0.asbestos_exposure,exposures.0.bmi,exposures.0.cigarettes_per_day,exposures.0.coal_dust_exposure,...,exposures.0.tobacco_smoking_quit_year,exposures.0.tobacco_smoking_status,exposures.0.tobacco_use_per_day,exposures.0.type_of_smoke_exposure,exposures.0.type_of_tobacco_used,exposures.0.updated_datetime,exposures.0.weight,exposures.0.years_smoked,id,submitter_id
0,e479200e-a6dc-4973-b326-8ae7eab5bc88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e479200e-a6dc-4973-b326-8ae7eab5bc88,AD7074
1,0532931f-a727-42d8-877f-3e4a20e2ee44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0532931f-a727-42d8-877f-3e4a20e2ee44,GENIE-DFCI-002294
2,b30a070d-e090-40cc-8277-33fdc66a7700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b30a070d-e090-40cc-8277-33fdc66a7700,GENIE-DFCI-078832
3,017a3a78-249c-48e0-a758-f48351ba5734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,017a3a78-249c-48e0-a758-f48351ba5734,GENIE-DFCI-037611
4,1a38613b-e8f8-4ac9-b86d-cae0738d6625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1a38613b-e8f8-4ac9-b86d-cae0738d6625,GENIE-DFCI-011493

In [54]:
df_case.dtypes

case_id                                                object
exposures.0.age_at_onset                              float64
exposures.0.alcohol_days_per_week                     float64
exposures.0.alcohol_drinks_per_day                    float64
exposures.0.alcohol_history                            object
exposures.0.alcohol_intensity                         float64
exposures.0.asbestos_exposure                         float64
exposures.0.bmi                                       float64
exposures.0.cigarettes_per_day                        float64
exposures.0.coal_dust_exposure                        float64
exposures.0.created_datetime                           object
exposures.0.environmental_tobacco_smoke_exposure      float64
exposures.0.exposure_duration                         float64
exposures.0.exposure_id                                object
exposures.0.exposure_type                             float64
exposures.0.height                                    float64
exposures.0.marijuana_use_per_week                    float64
exposures.0.pack_years_smoked                         float64
exposures.0.radon_exposure                            float64
exposures.0.respirable_crystalline_silica_exposure    float64
exposures.0.secondhand_smoke_as_child                 float64
exposures.0.smoking_frequency                         float64
exposures.0.state                                      object
exposures.0.submitter_id                               object
exposures.0.time_between_waking_and_first_smoke       float64
exposures.0.tobacco_smoking_onset_year                float64
exposures.0.tobacco_smoking_quit_year                 float64
exposures.0.tobacco_smoking_status                    float64
exposures.0.tobacco_use_per_day                       float64
exposures.0.type_of_smoke_exposure                    float64
exposures.0.type_of_tobacco_used                      float64
exposures.0.updated_datetime                           object
exposures.0.weight                                    float64
exposures.0.years_smoked                              float64
id                                                     object
submitter_id                                           object
dtype: object

In [57]:
# The value on the right is the percentage of non null value par column.
# As a consequence, this dataframe presents no real interest.
df_case.notnull().mean()

case_id                                               1.000000
exposures.0.age_at_onset                              0.000000
exposures.0.alcohol_days_per_week                     0.000000
exposures.0.alcohol_drinks_per_day                    0.000000
exposures.0.alcohol_history                           0.120461
exposures.0.alcohol_intensity                         0.000000
exposures.0.asbestos_exposure                         0.000000
exposures.0.bmi                                       0.000110
exposures.0.cigarettes_per_day                        0.000000
exposures.0.coal_dust_exposure                        0.000000
exposures.0.created_datetime                          0.000110
exposures.0.environmental_tobacco_smoke_exposure      0.000000
exposures.0.exposure_duration                         0.000000
exposures.0.exposure_id                               0.120570
exposures.0.exposure_type                             0.000000
exposures.0.height                                    0.000110
exposures.0.marijuana_use_per_week                    0.000000
exposures.0.pack_years_smoked                         0.000000
exposures.0.radon_exposure                            0.000000
exposures.0.respirable_crystalline_silica_exposure    0.000000
exposures.0.secondhand_smoke_as_child                 0.000000
exposures.0.smoking_frequency                         0.000000
exposures.0.state                                     0.120570
exposures.0.submitter_id                              0.120570
exposures.0.time_between_waking_and_first_smoke       0.000000
exposures.0.tobacco_smoking_onset_year                0.000000
exposures.0.tobacco_smoking_quit_year                 0.000000
exposures.0.tobacco_smoking_status                    0.000110
exposures.0.tobacco_use_per_day                       0.000000
exposures.0.type_of_smoke_exposure                    0.000000
exposures.0.type_of_tobacco_used                      0.000000
exposures.0.updated_datetime                          0.120570
exposures.0.weight                                    0.000110
exposures.0.years_smoked                              0.000000
id                                                    1.000000
submitter_id                                          1.000000
dtype: float64

### Data Frame: cnv
Information on the nature of the gene mutation. Most of the value are strings.

12 columns and 1000 rows.

Possible key: 'case.case_id' 

Possible link with other dataframe: 'cnv.consequence.0.gene.symbol'

In [41]:
df_cnv.head()

,case.case_id,cnv.chromosome,cnv.cnv_change,cnv.cnv_id,cnv.consequence.0.consequence_id,cnv.consequence.0.gene.symbol,cnv.end_position,cnv.gene_level_cn,cnv.ncbi_build,cnv.start_position,cnv.variant_status,id
0,c5891c7a-fd24-4891-8f51-373967e4a6dd,17,Loss,0e18bd24-e7dc-5e6e-a3ba-a23fd41ac529,99c68f83-9514-5628-9623-0ba6095dd90f,BCAS3,61392838,True,GRCh38,60677453,Tumor only,034993b7-98a2-57df-b741-761080debf14
1,d5f2b85a-94a9-4168-bbe8-149ec71342b0,17,Gain,73eb64c1-82ef-5f05-9946-a35b8a041148,a7e6f054-f5a1-5e7f-a0c0-8daa7373a434,ABCA8,68955392,True,GRCh38,68867292,Tumor only,309d1772-5c76-52d3-b384-32d00130c801
2,eafa45a4-2fd1-4fa3-860c-9d52ed382b7d,11,Gain,10bfced2-6df4-5613-96b3-a5d70afde19c,924c27ca-11cf-5b13-95b9-cf518abb142d,ORAOV1,69675416,True,GRCh38,69653076,Tumor only,51a42266-c861-523b-92b6-313f5ad92b72
3,dd0f8e5a-383d-4f03-bb71-0e115d4e442c,11,Gain,de0d6322-4040-570e-b9c3-94b6d565750f,00461981-a326-573d-a9a1-ad82872a1aea,SHANK2,71252577,True,GRCh38,70467856,Tumor only,61d42790-c539-5f6d-867b-c24bd9bb6cd6
4,233b02f3-c4f0-4a67-9db5-e68d5cdaccb6,8,Gain,f0d7c53c-76e0-590c-b0ac-1aa316fe5c50,c6208422-2c76-553a-b0eb-4472e816381f,MYC,127741434,True,GRCh38,127735434,Tumor only,69cd805c-29ed-56dd-aa11-92f11956b814

In [40]:
df_cnv.dtypes

case.case_id                        object
cnv.chromosome                       int64
cnv.cnv_change                      object
cnv.cnv_id                          object
cnv.consequence.0.consequence_id    object
cnv.consequence.0.gene.symbol       object
cnv.end_position                     int64
cnv.gene_level_cn                     bool
cnv.ncbi_build                      object
cnv.start_position                   int64
cnv.variant_status                  object
id                                  object
dtype: object

In [58]:
df_cnv.notnull().mean()

case.case_id                        1.0
cnv.chromosome                      1.0
cnv.cnv_change                      1.0
cnv.cnv_id                          1.0
cnv.consequence.0.consequence_id    1.0
cnv.consequence.0.gene.symbol       1.0
cnv.end_position                    1.0
cnv.gene_level_cn                   1.0
cnv.ncbi_build                      1.0
cnv.start_position                  1.0
cnv.variant_status                  1.0
id                                  1.0
dtype: float64

### Data Frame: gene

Information on top 50 genes to studied. Most of the value are strings.

2 columns and 50 rows.

Possible key: 'symbol'

What is 'score' ?

In [45]:
df_gene.head()

   _score  symbol
0   451.0  PIK3CA
1   404.0    TP53
2   322.0    MUC4
3   320.0  SHANK2
4   318.0    ANO1

In [46]:
df_gene.dtypes

_score    float64
symbol     object
dtype: object

### Data Frame: ssm

Information on 

74 columns and 1000 rows.

Possible key: 'case.case_id', 'id', 

Most of the values are string.

In [47]:
df_ssm.head()

,case.case_id,id,ssm.chromosome,ssm.consequence.0.consequence_id,ssm.consequence.0.transcript.gene.symbol,ssm.consequence.1.consequence_id,ssm.consequence.1.transcript.gene.symbol,ssm.consequence.10.consequence_id,ssm.consequence.10.transcript.gene.symbol,ssm.consequence.11.consequence_id,...,ssm.cosmic_id.7,ssm.end_position,ssm.genomic_dna_change,ssm.mutation_subtype,ssm.mutation_type,ssm.ncbi_build,ssm.reference_allele,ssm.ssm_id,ssm.start_position,ssm.tumor_allele
0,d2694b09-7844-4496-865c-5d3d8cd03330,b3244051-86aa-5e7b-8ba0-f274c9727a15,chr3,804da0aa-da6b-590e-8733-2ac736d42f9c,MUC4,779d457a-eba8-5e2a-8952-1b69b5d8ac92,MUC4,c5e4b93b-d19b-5125-ada4-e35d12ff0eb3,MUC4,5dbb4aab-8068-5bcb-9aa9-5b612667493a,...,NaN,195780168,chr3:g.195780168A>T,Single base substitution,Simple Somatic Mutation,GRCh38,A,92dded19-d0ce-5c34-9d99-169342f9bc37,195780168,T
1,17baef7c-d97d-4b98-ab53-503ef856523d,aba11501-070d-5cef-aae3-076a502489fb,chr3,4a574530-38c9-5378-970c-68681c574704,PIK3CA,3e210ff4-1c08-5a79-be1c-de66ff811543,PIK3CA,NaN,NaN,NaN,...,NaN,179203764,chr3:g.179203764A>C,Single base substitution,Simple Somatic Mutation,GRCh38,A,7ea2ecba-9bbc-5d84-8a58-2ed20f13bdf3,179203764,C
2,d3d545b3-457f-4389-821f-704cb24aff7f,64231c12-2355-5bcb-a382-ca48e06d1006,chr17,641bea5c-640b-5d23-9cac-f4d17ae8b2f3,TP53,b9b12ef5-9e7e-5ddf-8bff-ee3a8c2a873c,TP53,6fd39f3b-dd6d-5e43-82c8-92ff6fdb445d,TP53,65cd6ec8-5527-5940-ab71-0183769bf30b,...,NaN,7676042,chr17:g.7676041_7676042insGA,Small insertion,Simple Somatic Mutation,GRCh38,'-,1c4dad33-40cc-58d0-9d8c-4d808cb33401,7676041,GA
3,55262fcb-1b01-4480-b322-36570430c917,7c07038d-df18-51b1-b2d7-7b35ffab50b1,chr17,e9afc75e-121a-52c1-904f-151d7db55cbe,ABCA8,1e5a9dce-edb4-5d01-b916-a9e957562414,ABCA8,NaN,NaN,NaN,...,NaN,68883820,chr17:g.68883820C>G,Single base substitution,Simple Somatic Mutation,GRCh38,C,905a9d14-3a2e-5fb8-994e-48a2e5a1fa54,68883820,G
4,91b09291-5944-4691-a0d8-7d1ccc649b9b,0b8d9e3c-248a-5813-949b-2b5b8787ef39,chr3,a1470875-9e4b-5ffb-b4b4-c30bd7148b8b,MUC4,48245c83-639e-567c-b150-a5d5135a3f36,MUC4,305073a2-9685-536a-b73a-7677c64729c9,MUC4,e9c831f8-a79f-5258-a9df-f3d627dc3265,...,NaN,195782578,chr3:g.195782578G>A,Single base substitution,Simple Somatic Mutation,GRCh38,G,eb5acb6d-ebcc-50fc-9dc0-9a7ac5b85fc4,195782578,A

In [48]:
df_ssm.dtypes

case.case_id                                object
id                                          object
ssm.chromosome                              object
ssm.consequence.0.consequence_id            object
ssm.consequence.0.transcript.gene.symbol    object
                                             ...
ssm.ncbi_build                              object
ssm.reference_allele                        object
ssm.ssm_id                                  object
ssm.start_position                           int64
ssm.tumor_allele                            object
Length: 74, dtype: object

In [59]:
df_ssm.notnull().mean()

case.case_id                                1.0
id                                          1.0
ssm.chromosome                              1.0
ssm.consequence.0.consequence_id            1.0
ssm.consequence.0.transcript.gene.symbol    1.0
                                           ...
ssm.ncbi_build                              1.0
ssm.reference_allele                        1.0
ssm.ssm_id                                  1.0
ssm.start_position                          1.0
ssm.tumor_allele                            1.0
Length: 74, dtype: float64